# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Venv
venv/

# Mallit ja data
models/
data/

# Tulokset ja lokit
results/
logs/
*.log

# Jupyter/IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
